{% extends "base.html" %}

{% block title %}Добавить примерочную{% endblock %}

{% block content %}
<div class="content">
    <div class="sidebar">
        <div class="sidebar-logo">
            <div class="sidebar-logo__subtitle">Fashion-пространство</div>
            <div class="sidebar-logo__title">FABRIKA</div>
        </div>
    </div>
    <div class="main-content">
        <div class="admin section-padding">
            <div class="title">
                Добавить новую примерочную
            </div>
            <form class="form" action="{{ url_for('add_fitting_room') }}" method="post">
                <div class="form__inputs">
                    <input name="number" type="number" class="input" placeholder="Номер примерочной" required>
                    <button onclick="history.back()" type="button" class="btn btn_outline">Назад</button>
                    <button class="btn">Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

