<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">

    <!-- Favicons -->
    <link rel="icon" href="{{ url_for('static', filename='icons/icon-192x192.png') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap&_v=20241026162139"
          rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">

    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css?_v=20241026162139"
    />

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js?_v=20241026162139"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js?_v=20241026162139"></script>

    <title>{% block title %}Fabrika{% endblock %}</title>
</head>
<body>

<main>
    {% block content %}{% endblock %}
</main>

<script src="{{ url_for('static', filename='js/app.min.js') }}"></script>
<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-app.js";
    import { getAnalytics } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-analytics.js";
    import { getMessaging, getToken, onMessage, MessagePayload } from "https://www.gstatic.com/firebasejs/11.0.1/firebase-messaging.js";

    const firebaseConfig = {
        apiKey: "AIzaSyDn0L8kb8IE9AUF548XkYsCqp24hdOJSB8",
        authDomain: "fabrika-2.firebaseapp.com",
        projectId: "fabrika-2",
        storageBucket: "fabrika-2.appspot.com",
        messagingSenderId: "94283813590",
        appId: "1:94283813590:web:f0154bdec998c293eb2f77",
        measurementId: "G-PJCMWPCFYN"
    };
    const vapidKey = "BD1W2CdXEai3KBYIAWs47eJIJIY_efNm2CnBLqg4wjjhLTig962eL6OOBkGWmuwX94BEalEl6s2AV9XtZHjGaDk";

    const app = initializeApp(firebaseConfig);
    const messaging = getMessaging(app);

    if ('serviceWorker' in navigator && 'PushManager' in window) {
        navigator.serviceWorker.register('/firebase-messaging-sw.js')
        .then(function (registration) {
            console.log('Service Worker зарегистрирован с областью: ', registration.scope);
        })
        .catch(function (error) {
            console.log('Ошибка регистрации Service Worker: ', error);
        });
    } else {
        console.warn('Push уведомления не поддерживаются в этом браузере.');
    }

    onMessage(messaging, (payload) => {
        console.log('Message received. ', payload);
    });

    function sendTokenToServer(token) {
        fetch('/register-token', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ token: token })
        })
        .then(response => response.json())
        .then(data => console.log('Token registered:', data))
        .catch(error => console.error('Error registering token:', error));
    }

    function requestPermission() {
        Notification.requestPermission().then((permission) => {
            if (permission === 'granted') {
               getToken(messaging, { vapidKey: vapidKey }).then((currentToken) => {
                   if (currentToken) {
                        sendTokenToServer(currentToken);
                   } else {
                       console.log('No registration token available. Request permission to generate one.');
                   }
               }).catch((err) => {
                   console.log('An error occurred while retrieving token. ', err);
               });
            }
        })
    }
    requestPermission()

    $("#requestPermission").click(requestPermission)

</script>
{% block extra_js %}{% endblock %}
</body>
</html>
