{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
    <div class="content">
        <div class="sidebar">
            <div class="sidebar-logo">
                <div class="sidebar-logo__subtitle">Fashion-пространство</div>
                <div class="sidebar-logo__title">FABRIKA</div>
            </div>
            <div class="sidebar__btn btn btn_outline">
                <span>Авторизация</span>
            </div>
        </div>
        <div class="main-content">
            <div class="login section-padding" id="login-section">
                <div class="title">
                    Войдите в аккаунт
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    <ul class=notifications>
                    {% for category, message in messages %}
                      <li class="notification notification_{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                {% endwith %}
                <form  action="{{ url_for('login') }}" method="post" class="form">
                    <div class="form__inputs">
                        <input type="text" class="input" placeholder="Логин" name="username" required>
                        <input type="password" class="input" placeholder="Пароль" name="password" required>
                        <button class="btn">Войти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
